@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap');

body{
	/*background-color: #6ec7da;*/
	background-color: #E6E6FA;
}

h1{
	font-family: 'Pacifico', cursive;
}

p{
	font-family: 'Lato', sans-serif;
}